* {
    background-color: steelblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.questions_page{
    text-align: center;
}


.hide {
    display: none;
}

.choices_btn {
    margin: 2px;
    border-radius: 5px;
    border-color: indigo;
    background-color: slateblue;
    color: white;

}

.button {
    margin: 2px;
    border-radius: 5px;
    border-color: slateblue;
    background-color: indigo;
    color: white;

}

#timer {
    position: absolute;
    right: 50px;
}

#view {
    position: absolute;
    left: 50px;
}

