
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.questions_page{
    text-align: center;
}


.hide {
    display: none;
}

#start_quiz {

}

#start_button {
    
}

.button{

}